%p
  ツイッターにつぶやきにくい、でもつぶやきたい！
  そんな気持ちを入力してください。
  @ouroba があなたの代わりにつぶやくから、すっきりできるよ！
/ begin New Message Form
- form_for @message do |f|
  = f.error_messages
  %dl
    %dt= f.label :body
    %dd= f.text_area :body, :size => '40x5'
    %dd= f.submit '匿名でつぶやく'
/ end New Message Form

/ begin Messages Section
.messagesSection
  %h3 本日のつぶやき
  %ul
    - for message in @messages
      %li
        =h message.body
        = "#{distance_of_time_in_words_to_now message.created_at} ago"
        [RT]
/ end Messages Section
