- form_for(Status.new) do |f|
  = f.hidden_field :uuid
  = f.hidden_field :tweet_extention
  = f.hidden_field :in_reply_to_status_id
  %fieldset
    %div
      %h3
        = f.label :text, '匿名でつぶやいてみる？'
      %span.count 140
    %div
      %p.box
        = f.text_area :text, :size => '40x2'
      %p.box
        = f.submit '匿名でツイート'
