- statuses.each do |status|
  %li.status(id="status-#{status.id}" data-sig="#{status.signature}")
    %span.thumb
      = image_tag app_user.profile_image_url
    %span.status-body
      %span.status-content
        %strong= app_user.login
        %span.entry-content= auto_link(h(status.text))
    .status-meta
      = link_to("#{distance_of_time_in_words_to_now(status.created_at)}å‰", uuid_status_path(status.uuid))
      %span.twitter
        = link_to("twitter", tweet_url(status))
      %span.signature
        = "ID:#{status.signature}" unless status.signature.blank?
      .topsy_widget_data
        /
          {"url": "#{tweet_url(status)}"}

%li.ad
  :javascript
    google_ad_client = "pub-7941320190288826";
    google_ad_slot = "9697936443";
    google_ad_width = 550;
    google_ad_height = 15;
  = javascript_include_tag 'http://pagead2.googlesyndication.com/pagead/show_ads.js'
