- title "#{APP_CONFIG[:sitename]} - ホーム"
- page_class_name 'status-index'
#status-update-box
  = render :partial => 'new'

#status-list-box
  %h2 ＠名無しさんのタイムライン
  = will_paginate(@statuses, :prev_label => '&lt;', :next_label => '&gt;')
  = render :partial => 'timeline_ad'
  %ol(id='timeline' class='statuses')
    = render :partial => 'timeline', :locals => {:statuses => @statuses}
  = render :partial => 'timeline_ad'
  = will_paginate(@statuses, :prev_label => '&lt;', :next_label => '&gt;')
  =# render :partial => 'more', :locals => {:next_page => @statuses.next_page}

:javascript
  
  $(function(){
    
    $('#status-list-box li[data-sig="#{signature}"]').addClass('mine');
    
    $('#status_text').NobleCount('#status-update-box .count', {
      max_chars: 140,
      block_negative: true,
      on_negative: 'negative',
      on_positive: 'positive'
    });
    
    $('#more').live('click', function(event){
      event.preventDefault();
      $.get('#{timeline_statuses_path}', {page:$(this).attr('next')}, function(data){
        var pagination = data['pagination'];
        var timeline = data['timeline'];
        $('#pagination').html(pagination);
        $('#timeline').append(timeline);
      });
    });

    $('.status-content a').oembed(null, { maxWidth: 240, maxHeight: 180});
    
    $('a.anonymous_reply').click(function(e){
      event.preventDefault();
      var parent = $(this).parents('li.status');
      var text = parent.find('.text').html().replace(/^\s+/,'').replace(/\s+$/,'');
      text = "QT @nanasi_3 : " + text;
      $('#status_text').val(text);
      $('html, body').animate({scrollTop: $("#container").offset().top}, 250);
    });
    
    
  });
  
