- title "#{APP_CONFIG[:sitename]} - ホーム"
#status-update-box
  = render :partial => 'new'

#status-list-box
  %ol(id='timeline' class='statuses')
    = render :partial => 'timeline', :locals => {:statuses => @statuses}
  .ad
    :javascript
      google_ad_client = "pub-7941320190288826";
      google_ad_slot = "9697936443";
      google_ad_width = 550;
      google_ad_height = 15;
    = javascript_include_tag 'http://pagead2.googlesyndication.com/pagead/show_ads.js'

  #pagination
    = render :partial => 'more', :locals => {:next_page => @statuses.next_page}

:javascript
  
  $(function(){
    
    $('#status-list-box li[data-sig="#{signature}"]').addClass('mine');
    
    $('#status_text').NobleCount('#status-update-box .count', {
      max_chars: 140 - $('#status_tweet_extention').val().length,
      block_negative: true,
      on_negative: 'negative',
      on_positive: 'positive'
    });
    
    $('#more').live('click', function(event){
      event.preventDefault();
      $.get('#{timeline_statuses_path}', {next_page:$(this).attr('next')}, function(data){
        var pagination = data['pagination'];
        var timeline = data['timeline'];
        $('#pagination').html(pagination);
        $('#timeline').append(timeline);
      });
    });

    $('.status-content a').oembed(null, { maxWidth: 240, maxHeight: 180});
    
  });
  
