= signature
- title "#{APP_CONFIG[:sitename]} - ホーム"
#status-update-box
  - form_for(Status.new) do |f|
    = f.hidden_field :uuid
    = f.hidden_field :tweet_extention
    %fieldset
      %div
        %h3 匿名でつぶやいてみる？
        %span.count 140
      %div
        %p
          = f.text_area :text, :size => '40x2'
        %div
          = f.submit '匿名でツイート'

#status-list-box
  %ol(id='timeline' class='statuses')
    = render :partial => 'timeline', :locals => {:statuses => @statuses}
  #pagination
    = render :partial => 'more', :locals => {:next_page => @statuses.next_page}

:javascript
  
  $(function(){
    
    $('#status-list-box li[data-sig="#{signature}"]').addClass('mine');
    
    $('#status_text').NobleCount('#status-update-box .count', {
      max_chars: 140 - $('#status_tweet_extention').val().length,
      block_negative: true,
      on_negative: 'negative',
      on_positive: 'positive'
    });
    
    $('#more').live('click', function(event){
      event.preventDefault();
      $.get($('#more').attr('href'), function(data){
        pagination = data['pagination'];
        timeline = data['timeline'];
        $('#pagination').html(pagination);
        $('#timeline').append(timeline);
      });
    });
    
  });
  