- title "#{APP_CONFIG[:sitename]} - ホーム"
#status-update-box
  - form_for(@status) do |f|
    = f.hidden_field :uuid
    = f.hidden_field :tweet_extention
    %fieldset
      %div
        %h3 匿名でつぶやいてみる？
        %span.count 140
      %div
        %p
          = f.text_area :text, :size => '40x2'
        %div
          = f.submit '匿名でツイート'

#status-list-box
  %ol(id='timeline' class='statuses')
    - @statuses.each do |status|
      = render :partial => 'status', :locals => {:status => status}

:javascript
  $(function(){
    $('#status_text').NobleCount('#status-update-box .count', {
      max_chars: 140 - $('#status_tweet_extention').val().length,
      block_negative: true,
      on_negative: 'negative',
      on_positive: 'positive'
    });
  });
  