- title "#{APP_CONFIG[:sitename]} - あなたの匿名つぶやき"
- page_class_name 'my-status-index'
#status-update-box
  = render :partial => '/statuses/new'

#status-list-box
  %h2 あなたの匿名つぶやきタイムライン
  = will_paginate(@statuses, :prev_label => '&lt;', :next_label => '&gt;')
  = render :partial => '/statuses/timeline_ad'
  - unless @statuses.empty?
    %ol(id='timeline' class='statuses')
      = render :partial => 'timeline', :locals => {:statuses => @statuses}
  - else
    .empty あなたの匿名つぶやきはまだありません
  = render :partial => '/statuses/timeline_ad'
  = will_paginate(@statuses, :prev_label => '&lt;', :next_label => '&gt;')
  =# render :partial => 'more', :locals => {:next_page => @statuses.next_page}

:javascript

  $(function(){

    $('#status_text').NobleCount('#status-update-box .count', {
      max_chars: 140 - $('#status_tweet_extention').val().length,
      block_negative: true,
      on_negative: 'negative',
      on_positive: 'positive'
    });

    $('#more').live('click', function(event){
      event.preventDefault();
      $.get('#{timeline_my_statuses_path}', {page:$(this).attr('next')}, function(data){
        var pagination = data['pagination'];
        var timeline = data['timeline'];
        $('#pagination').html(pagination);
        $('#timeline').append(timeline);
      });
    });

    $('.status-content a').oembed(null, { maxWidth: 240, maxHeight: 180});

  });

