- title "#{APP_CONFIG[:sitename]} - あなたの匿名つぶやき"
- page_class_name 'my-status-index'
#status-update-box
  = render :partial => '/statuses/new'

#status-list-box
  %h2 あなたの匿名つぶやきタイムライン
  = will_paginate(@statuses, :prev_label => '&lt;', :next_label => '&gt;')
  = render :partial => '/statuses/timeline_ad'
  - unless @statuses.empty?
    %ol(id='timeline' class='statuses')
      = render :partial => 'timeline', :locals => {:statuses => @statuses}
  - else
    .empty あなたの匿名つぶやきはまだありません
  = render :partial => '/statuses/timeline_ad'
  = will_paginate(@statuses, :prev_label => '&lt;', :next_label => '&gt;')
  =# render :partial => 'more', :locals => {:next_page => @statuses.next_page}

:javascript

  $(function(){

    $('#status_text').NobleCount('#status-update-box .count', {
      max_chars: 140,
      block_negative: true,
      on_negative: 'negative',
      on_positive: 'positive'
    });

    $('.status-content a').oembed(null, { maxWidth: 240, maxHeight: 180});
    
    $('a.anonymous_reply').click(function(event){
      event.preventDefault();
      var parent = $(this).parents('li.status');
      var text = parent.find('.text').text().replace(/^\s+/,'').replace(/\s+$/,'');
      text = "QT @#{app_user.login} : " + text;
      // in_reply_to_status_id
      var tweet_id = parent.attr('data-tweet-id');
      $('#status_in_reply_to_status_id').val(tweet_id);
      $('#status_text').val(text);
      // scroll to top
      $('html, body').animate({scrollTop: $("#container").offset().top}, 250);
    });
    
    $('#status_text').keyup(function(event){
      if ($('#status_in_reply_to_status_id').val() && $(this).val() == "") {
        $('#status_in_reply_to_status_id').val('');
      }
    });

  });

