.section.ad
  :javascript
     google_ad_client = "pub-7941320190288826";
     google_ad_slot = "6943591828";
     google_ad_width = 250;
     google_ad_height = 250;
  = javascript_include_tag 'http://pagead2.googlesyndication.com/pagead/show_ads.js'

.section.box
  %h3 はじめての方へ
  %p
    このサービスは。。。

.section.box
  %h3= "#{app_user.name}をフォローしよう！"
  #follow-nanasi3
  %h4 フォローしている人
  #friends

- if action_name == 'show'
  .section
    %h3 ツイート
    %script(src="http://widgets.twimg.com/j/2/widget.js")
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 7,
        interval: 6000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#bbbbbb',
            color: '#616161'
          },
          tweets: {
            background: '#e6e6e6',
            color: '#595959',
            links: '#005eff'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: true,
          behavior: 'all'
        }
      }).render().setUser('#{app_user.login}').start();

  
= yield(:side)

.section.ad
  :javascript
    google_ad_client = "pub-7941320190288826";
    google_ad_slot = "4644921528";
    google_ad_width = 250;
    google_ad_height = 250;
  = javascript_include_tag 'http://pagead2.googlesyndication.com/pagead/show_ads.js'
