!!!
%html
  %head
    %title= yield(:title) || "つぶやき＠名無しさん"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag "http://platform.twitter.com/anywhere.js?id=#{TwitterAuth.config['oauth_consumer_key']}&v=1"
    = yield(:head)
  %body(class="#{controller_name}-#{action_name}")
    #container
      
      #header
        %h1 つぶやき＠名無しさん
        #navSection
          %ul#nav
            %li= link_to 'ホーム', '/'
            - if logged_in?
              %li= link_to 'あなたの匿名つぶやき', mypage_path
              %li= link_to 'ログアウト', logout_path
            - else
              %li= link_to 'ログイン', login_path
        
      #main
        #content-section
          - flash.each do |name, msg|
            %div(class="flash #{name}" id="flash_#{name}")
              %p= msg
          = yield
        #side-section
          = render :partial => '/layouts/side'
      
      #footer
        &copy;2010 func09 <a href='/about'>このサービスについて</a>
        
      :javascript
        twttr.anywhere(function (T) {
          T.hovercards({ expanded: true });
          T('#follow-nanasi3').followButton("#{app_user.login}");
        });
        
        