!!!
%html
  %head
    %title= yield(:title) || "つぶやき＠名無しさん"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag "http://platform.twitter.com/anywhere.js?id=#{TwitterAuth.config['oauth_consumer_key']}&v=1"
    = javascript_include_tag "jquery.twitter-friends-1.0"
    = javascript_include_tag "jquery.oembed"
    %script(type="text/javascript" src="http://cdn.topsy.com/topsy.js?init=topsyWidgetCreator")
    = javascript_include_tag 'jquery.NobleCount.min.js'
    = stylesheet_link_tag 'styles'
    = yield(:head)
    - if RAILS_ENV == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-845066-7']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body(class="#{yield(:page_class_name)}")
    #container
      
      #header
        %h1
          = link_to image_tag("site_title.png"), root_path
        #navSection.clearfix
          %ul#nav
            %li.home= link_to 'ホーム', '/'
            - if logged_in?
              %li.my= link_to 'あなたの匿名つぶやき', my_root_path
              %li.logout= link_to 'ログアウト', logout_path
            - else
              %li.login= link_to 'ログイン', login_path
        
      #main.clearfix
        #content
          - flash.each do |name, msg|
            %div(class="flash #{name}" id="flash_#{name}")
              %p= msg
          = yield
        #side
          = render :partial => '/layouts/side'
      
      #footer
        &copy;2010 func09
        
      :javascript
        twttr.anywhere(function (T) {
          T.hovercards({ expanded: true });
          T('#follow-nanasi3').followButton("#{app_user.login}");
        });
        $('#friends').twitterFriends({
          info: '',
          username: '#{app_user.login}',
          user_image: 24,
          users: 98
        });
