!!!
%html
  %head
    %title= yield(:title) || "つぶやき＠名無しさん"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag "http://platform.twitter.com/anywhere.js?id=#{TwitterAuth.config['oauth_consumer_key']}&v=1"
    %script(type="text/javascript" src="http://cdn.topsy.com/topsy.js?init=topsyWidgetCreator")
    = javascript_include_tag 'jquery.NobleCount.min.js'
    = stylesheet_link_tag 'styles'
    = yield(:head)
  %body(class="#{controller_name}-#{action_name}")
    #container
      
      #header
        %h1
          %span= link_to 'つぶやき＠名無しさん', '/'
          %span 匿名でツイッター
        #navSection.clearfix
          %ul#nav
            %li= link_to 'ホーム', '/'
            %li= link_to 'このサービスについて', '/about'
            %li= link_to '名無しへの反応', '#'
            - if logged_in?
              %li= link_to 'あなたの匿名つぶやき', my_root_path
              %li= link_to 'ログアウト', logout_path
            - else
              %li= link_to 'ログイン', login_path
        
      #main.clearfix
        #content
          - flash.each do |name, msg|
            %div(class="flash #{name}" id="flash_#{name}")
              %p= msg
          = yield
        #side
          = render :partial => '/layouts/side'
      
      #footer
        &copy;2010 func09
        
      :javascript
        twttr.anywhere(function (T) {
          T.hovercards({ expanded: true });
          T('#follow-nanasi3').followButton("#{app_user.login}");
        });
        
        
